#ResetDatabase
{-fx-background-color: #76b82a;}

#InsertGrade
{-fx-background-color: #76b82a;}

#ViewStudent
{-fx-background-color: #76b82a;}

#SaveHTML
{-fx-background-color: #76b82a;}

#resetTab
{-fx-background-color: #76b82a;}

#lecturerTab
{-fx-background-color: #76b82a;}

#studentTab
{-fx-background-color: #76b82a;}